
section{
margin: 2%;
}
 nav{
 font-family: Manrope;
 font-size: 1.25rem;
 font-weight: 800;
} 
p{
 font-weight: 400;
}
.six-cards{
 border: 1px solid #1313181A;
 border-radius: 1rem;
}
.question-ans{
 border-bottom: 1px solid  #1313181A;
}
header{
 font-weight: 400;
}